extends layout

block css
  link( rel="stylesheet", href="css/index_layout.css" )

block header
  include ../modules/header.jade

block main
  include ../modules/index_main.jade

block footer
  include ../modules/footer.jade