!!! 5
html
  head
    meta( chart="utf-8" )
    title CSDN饭桶
    link( rel="stylesheet", href="../libs/css/bootstrap-theme.min.css" )
    link( rel="stylesheet", href="../libs/css/bootstrap.min.css" )
    link( rel="stylesheet", href="../libs/css/font-awesome.min.css" )
    link( rel="stylesheet", href="../libs/css/buttons.css" )
    block css

  body
    block header

    .main
      block main

    block footer

    block script