extends layout

block css
  link( rel="stylesheet", href="../libs/css/bookblock.css" )
  link( rel="stylesheet", href="css/view_menu_layout.css" )

block header
  include ../modules/header.jade

block main
  include ../modules/view_menu.jade

block footer
  include ../modules/footer.jade

block script
  script( data-main="js/config.js", src="../libs/js/require.js" )
  script
    requirejs( ['bookblock', 'ordering-dishes'], function ( bookblock, ordering ) {
      bookblock.init();
      //- ordering.init( '#result-show' );
    } );