header( class="header" )
  .container
    .row
      a( href="#", class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ) LOGO
      span( href="#", class="col-xs-6 col-sm-6 col-md-6 col-lg-6" )
        i 用户名
        a( href="#" ) 退出