.container
  .bb-custom-wrapper
    #bookblock.bb-bookblock
      - for ( var i = 0; i < 4; i++ )
        if i == 0
          .bb-item( style="display: block" )
            - for ( var j = 0; j < 2; j++ )
              .bb-custom-side
                ul
                  - for ( var k = 0; k < 10; k++ )
                    li sdfsafasfasdfasfasdf
        else
          .bb-item( style="display: none" )
            - for ( var j = 0; j < 2; j++ )
              .bb-custom-side
                ul
                  - for ( var k = 0; k < 10; k++ )
                    li sdfsafasfasdfasfasdf